* {
  border: 0;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #1c1c1c;
  --primary-color: #f0f0f0;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  min-width: 400px;
  padding: 8px;
}

h1 {
  font-size: 1.4rem;
  margin: 8px;
}

h2 {
  margin: 8px 0;
}

ol {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

li {
  align-items: center;
  display: flex;
}

.button {
  background: white;
  cursor: pointer;
  display: inline-flex;
  margin: 8px;
  overflow: hidden;
  position: relative;
}

.overlay {
  background: yellow;
  position: absolute;
}

.shortcut {
  color: black;
  margin: 4px;
  z-index: 10;
}

button {
  background: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: var(--primary-color);
  cursor: pointer;
  padding: 4px 16px;
}

.branding {
  align-items: center;
  display: flex;
  margin-top: 8px;
}
